.vscode
.slim
**/codemap.md
PLAN.md
LOG.md

# npm
node_modules

# obsidian
data.json

# Local
*.local
*.log*

# Environment variables
.env
.ignore

# build output
dist
styles.css
main.js
